.resources__logo-zone {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  padding-left: 0;
  list-style-type: none;
}
