.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  /*outline: 1px solid red;*/
}
img {
  /*outline: 1px solid red;*/
  margin: 0;
}
a {
  text-decoration: none;
  opacity: 1;
}
a:hover {
  opacity: 0.1;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* выше установили ограничения для секции */
}
.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}
.header_title {
  width: 730px;
  left: 64px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 1;
  /*outline: 1px solid red;*/
}
.header_subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
  /*outline: 1px solid red;*/
}
.header_link {
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
  /*outline: 1px solid red;*/
}
.header_main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50%;
  justify-content: space-between;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header_square-pic {
  height: 568px;
  width: 568px;
  right: 0;
  padding-top: 64px;
  z-index: 0;
  background-color: #2f80ed;
  position: absolute;
  justify-content: space-between;
}
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.two-columns {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*outline: 1px solid #2f80ed;*/
}
.two-columns_brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  /*outline: 1px solid #2f80ed;*/
}
.two-columns_main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.two-columns_paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
  /*outline: 1px solid #2f80ed;*/
}
.two-columns_paragraph_last {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /*outline: 1px solid #2f80ed;*/
  margin: 0;
}
.two-columns_span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.digits {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  width: 60%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  /*outline: 1px solid #2f80ed;*/
}
.section-subtitle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /*outline: 1px solid #2f80ed;*/
}
.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table_digits {
  /*outline: 1px solid #2f80ed;*/
}
.table_cell {
  width: 250px;
  /*outline: 1px solid #2f80ed;*/
}
.table_heading {
  margin-top: 60px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  bottom: 20px;
  /*outline: 1px solid #2f80ed;*/
}
.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
.feynman {
  padding-top: 100px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  height: 890px;
  background-color: #f2f2f2;
  /*outline: 1px solid red;*/
}
.feynman_title {
  width: 648px;
  display: flex;
  position: relative;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  /*outline: 1px solid red;*/
}
.feynman_subtitle {
  display: flex;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  /*outline: 1px solid red;*/
}
.feynman_link {
  top: 50%;
  right: 45px;
  display: flex;
  justify-content: flex-end;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  /*outline: 1px solid red;*/
}

.feynman_illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}
.kaufman {
  padding: 90px 0 90px 0;
  position: relative;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section-title_theme_dark {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  display: flex;
  justify-content: center;
  /*outline: 1px solid red;*/
  color: white;
  z-index: 2;
}
.section-subtitle_theme_dark {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  /*outline: 1px solid red;*/
}
.table_theme_dark {
  z-index: 1;
  /*outline: 1px solid red;*/
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  top: 80px;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  /*outline: 1px solid red;*/
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: white;
  z-index: 2;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
  z-index: 2;
}
.kaufman_triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: 0;
}
.footer {
  min-height: 350px;
  padding: 60px 0 40px 0;
  position: relative;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*outline: 1px solid red;*/
}
.footer_columns {
  color: white;
  width: 90%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  /*outline: 1px solid red;*/
}
.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  /*outline: 1px solid red;*/
}
.logo_place_footer {
  color: white;
  /*outline: 1px solid red;*/
}
.footer_autor {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
  /*outline: 1px solid red;*/
}
.footer_column {
  margin-top: 20px;
  margin-bottom: 16px;
}
.footer__column_content_info {
  line-height: 30px;
  font-size: 18px;
}
.footer_column-heading {
  font-weight: 600;
  margin-top: 0;
}

.footer_column-links {
  font-weight: normal;
}
.footer_column-link {
  color: white;
}
.footer_column-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
.footer__column_content_social {
  line-height: 30px;
  font-size: 18px;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
